lab-guides/lab_1/lab-1.json
[
    {
        "id": "6fcde397580114c3",
        "type": "tab",
        "label": "ACIC - Lab 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f882468128e65d1c",
        "type": "mqtt out",
        "z": "6fcde397580114c3",
        "name": "",
        "topic": "Lab 1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "54f63f95cb7e711b",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "9b0f3f1095c77b08",
        "type": "ui_switch",
        "z": "6fcde397580114c3",
        "name": "",
        "label": "Activate",
        "tooltip": "",
        "group": "a4752b0e971f5560",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 300,
        "y": 160,
        "wires": [
            [
                "f882468128e65d1c",
                "10b6b263ae1f7454"
            ]
        ]
    },
    {
        "id": "10b6b263ae1f7454",
        "type": "debug",
        "z": "6fcde397580114c3",
        "name": "Debugging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "54f63f95cb7e711b",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a4752b0e971f5560",
        "type": "ui_group",
        "name": "Lab 1",
        "tab": "01424a329eef8899",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "01424a329eef8899",
        "type": "ui_tab",
        "name": "ACIC - Labs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]